<header>
    <span *ngIf="totalCount && totalCount > 0">Showing
        <strong>{{(this.shopParams.pageNumber -1) * this.shopParams.pageSize + 1}} -
                 {{this.shopParams.pageNumber * this..pageSize > totalCount ?
                  this.totalCount
                  : this.shopParams.pageNumber * this.shopParams.pageSize}}
                           </strong> of
         <strong>{{totalCount}}</strong>Results
      </span>
      <span *ngIf="totalCount === 0">
          There are <strong>0</strong> results for this filter
         </span>
  </header>