<div class="container mt-3">
  <div class="row">
    <section class="col-3">
      <ng-container *ngIf="types && brands">

      <h5 class="text-warning ml-3 mt-4 mb-4">Sort</h5>
      <select
        class="custom-select mb-4"
        (change)="onSortSelected($event.target.value)"
      >
        <option *ngFor="let itemSort of sortOptions" [value]="itemSort.value">
          {{ itemSort.name }}
        </option>
      </select>
      <h5 class="text-warning ml-3">Brands</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let itemBrand of brands"
          [class.active]="itemBrand.id === this.shopParams.brandId"
          [value]="itemBrand.id"
          (click)="onBrandIdSelected(itemBrand.id)"
        >
          {{ itemBrand.name }}
        </li>
      </ul>
      <h5 class="text-warning ml-3">Types</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let itemType of types"
          [class.active]="itemType.id === this.shopParams.typeId"
          [value]="itemType.id"
          (click)="onTypeSelected(itemType.id)" >
          {{ itemType.name }}
        </li>
      </ul>
    </ng-container>
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pd-2">
       <app-paging-header [pageNumber]= "this.shopParams.pageNumber" [totalCount]="this.totalCount" [pageSize]="this.shopParams.pageSize">


       </app-paging-header>
        <div class="form-inline" *ngIf="products">
          <input (keyup.enter)="onSearch()"
            type="text"
            class="form-control mr-2"
            style="width: 300px"
            placeholder="search" #search
          />
          <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
          <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
        </div>
      </div>

      <div class="row">
        <div class="col-4 mb-4" *ngFor="let itemProduct of products">
          <app-product-item [product]="itemProduct"></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="this.totalCount > 0">
       <app-pager [pageSize]= "shopParams.pageSize" [totalCount]= "totalCount" (pageChange)="onPageChanged($event)">

       </app-pager>
      </div>
    </section>
  </div>
</div>
