<div class="container">
    <div class="row">

        <section class="col-3">
            <h5 class="text-warning ml-3">Sort </h5>
            <select class="custom-select mb-3" (change)="onSortSelected($event.target.value)">
                <option selected *ngFor="let itemSort "></option>

            </select>
           <h5 class="text-warning ml-3">Brands </h5>
           <ul class="list-group my-3">
            <li class="list-group-item"
            *ngFor="let itemBrand of brands" [class.active]="itemBrand.id===brandIdSelected"
            [value]="itemBrand.id"
            (click)="onBrandIdSelected(itemBrand.id)"
            > {{itemBrand.name}}</li>

          </ul>
          <h5 class="text-warning ml-3">Types </h5>
          <ul class="list-group my-3">
            <li class="list-group-item " *ngFor="let itemType of types" [class.active]="itemType.id===typeIdSelected"
            [value]="itemType.id"
            (click)="onTypeSelected(itemType.id)"
            >   {{itemType.name}}</li>

          </ul>
        </section>

        <section class="col-9">
         <div class="d-flex justify-content-between align-items-center pd-2">
            <header>
                <span>Showing <strong>10</strong> of <strong>16</strong>Results</span>
            </header>
            <div class="form-inline mt-2">
                <input type="text" class="form-control mr-2" style="width:300px" placeholder="search">
                <button class="btn btn-outline-primary my-2">Search</button>
                <button class="btn btn-outline-success ml-2 my-2">Reset</button>
            </div>
         </div>

            <div class="row">
                <div class="col-4 mb-4" *ngFor="let itemProduct of products">
                    <app-product-item [product]="itemProduct"></app-product-item>
                </div>
              </div>
        </section>
    </div>

</div>