<div class="container mt-5">
    <div *ngIf="(basket$ | async ) === null">
        <p>There are no items in your basket</p>
    </div>

    <div *ngIf="(basket$ | async ) as basket">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        div.table-responsive    
                    </div>
                </div>
            </div>
        </div>
        <ul>
            <li *ngFor="let item of basket.items">{{item.productName}} - {{item.quantity}}</li>
        </ul>
    </div>
</div>


