<ng-container *ngIf="(breadcrumbs$ | async) as breadcrumbs" >
  <section *ngIf="breadcrumbs.length > 0 " class="py-5" style="margin-top: 105px; background-color: #f5f5f5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h1>{{breadcrumbs}}</h1>
        </div>
        <div class="col-3">
          <!-- <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                      </nav> -->

          <xng-breadcrumb> </xng-breadcrumb>
        </div>
      </div>
    </div>
  </section>
</ng-container>
